.bg-gray-900 {
  background-color: #1a202c;
}

.text-gray-300 {
  color: #d1d5db;
}

.bg-gray-700 {
  background-color: #2d3748;
}

.bg-gray-600 {
  background-color: #4a5568;
}

.bg-gray-100 {
  background-color: #f7fafc;
}

.text-gray-800 {
  color: #2d3748;
}

.text-lg {
  font-size: 1.125rem;
}

.font-semibold {
  font-weight: 600;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, 1fr);
}

.md\\:grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.md\\:grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gap-4 {
  gap: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.hover\\:bg-gray-400:hover {
  background-color: #e2e8f0;
}

.bg-gray-300 {
  background-color: #282828;
}

.rounded {
  border-radius: 0.375rem;
}

.overflow-auto {
  overflow: auto;
}

.max-h-64 {
  max-height: 16rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-xl {
  font-size: 1.25rem;
}

.font-bold {
  font-weight: 700;
}

/* JSON container styles */
.json-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.json-container pre {
  height: 400px;
  width: 100%;
  font-family: monospace;
  font-size: 0.9rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .json-container pre {
    height: 300px;
  }
}

.custom-bg {
  background-color: #1f1f1f;
}



/* FANCY Custom button styles */
.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  border-radius: 0.6em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #090808, #4a00e0, #8e2de2);
  color: ghostwhite;
  overflow: hidden;
  margin-bottom: 1rem;
}
 
.cssbuttons-io svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
}
 
.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.5em 0.8em 0.5em 0.7em;
}
 
.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
 
.cssbuttons-io::before {
  content: "";
  background: #383838;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}
 
.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}
 
.cssbuttons-io:active {
  transform: scale(0.95);
}