
#page-heading {
    font-size: 38px;
    font-weight: 800;
    /* margin-bottom: 20px; */
}

.query-section {
    /* border: solid red 1px; */
    width: 100%;
    padding: 30px 80px;
    margin: 0 0 20px 0;
}

.section-label {
    display: block;
    font-weight: 800;
    font-size: 20px;
    font-weight: 600;
}

.dropdown {
    margin-top: 10px;
    margin-left: 20px;
    height: 40px;
    width: 100%;
    padding-left: 20px;
    /* text-align: center; */
    border: none;
    background-color: #afafaf;
    border-radius: 8px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.552);
}

#create-options {
    margin: 0 20px;
    /* border: solid red 1px; */
    width: fit-content;
    /* height:80px; */
    display: flex;
    align-items: center;
}

.create-option {
    margin: 0 6px;
    border: solid #4200bb 1px;
    /* color: #af8aff; */
    /* width: 200px; */
    height: 40px;
    /* font-size: 20px; */
    font-weight: 700;
    padding: 10px 16px;
    text-align: center;
    cursor: pointer;
}

#create-value {
    width: 50%;
}

.selected {
    background-color: #af8aff;
}

#add-filter-button {
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

#filters-section {
    /* display: flex; */
    /* align-items: center;    */
    margin-top: 10px;
    width: 100%;
    /* border: red solid 1px; */
}

.filter {
    height: fit-content;
    /* border: green solid 1px; */
    width: 100%;
    /* box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.552); */
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #232323;
    margin: 10px 0;
}

.attribute-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-container {
    /* border: solid red 1px; */
    margin: 10px;
    display: block;
    width: 30%;
}

.filter-label {
    width: 100%;
    font-weight: 700;
    color: #469cff;
}

.filter-dropdown {
    width: 100%;
    height: 40px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.552);
    border: none;
    padding-left: 10px;
}

.attribute,
.operator {
    margin-bottom: 10px;
}

input.filter-dropdown {
    padding-left: 10px;
}

.operator-container {
    display: block;
    width: 170px;
    margin: 20px 0;
    padding: 0 10px;
    /* border: solid blue 1px; */
}

.operator-dropdown {
    width: 100%;
}

#json-data-wrapper {
    padding-bottom: 0;
}


#json-input {
    background-color: #afafaf;
}

#save-button {
    width: 450px;
    height: 35px;
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 19px;
    background-color: #469cff;
    outline: none;
    border: none
}